.pink1{
  margin-bottom: -45px;
  background-color:  rgb(245, 182, 45);
}

.pink{
  margin-top: -22px;
  background-color:rgb(245, 182, 45);
}

.cho{
  font-family:'Times New Roman';
  text-align: center;
  color: darkolivegreen;
}

.image7{
  margin-top: 10px;
  margin-left: 450px;
}

.le{
  margin-left: 215px;
  font-size: larger;
  color: darkgreen;
}

.chole{
  margin-left: 210px;
  font-size: large;
  color: darkolivegreen;
}